html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: flex;
  margin: 0 auto;
}

.container {
  background: linear-gradient(155deg, #e0deed, #3b3946, #000);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
